In [2]:
import pandas as pd

In [15]:
df = pd.read_csv(r"C:\Users\BudhiArta\tweets_bersih_translated_label.csv")

In [16]:
df.head()

,_id,content_cleaned,date,label,label_text,translated
0,61ad9fc5c0aafa396cd37f0b,hawa,2021-11-17T20:47:42+00:00,0.00,neutral,weather
1,61ad9fc5c0aafa396cd37f0c,true,2021-11-22T11:33:21+00:00,0.35,pos,true
2,61ad9fc5c0aafa396cd37f0d,diana,2021-11-20T14:56:23+00:00,0.00,neutral,diana
3,61ad9fc5c0aafa396cd37f0e,nanana,2021-11-20T13:58:42+00:00,0.00,neutral,nanana
4,61ad9fc5c0aafa396cd37f0f,panjang,2021-11-20T04:44:24+00:00,-0.05,neg,long

In [21]:
df['date'] = df['date'].str[:10]

In [22]:
df.head()

,_id,content_cleaned,date,label,label_text,translated
0,61ad9fc5c0aafa396cd37f0b,hawa,2021-11-17,0.00,neutral,weather
1,61ad9fc5c0aafa396cd37f0c,true,2021-11-22,0.35,pos,true
2,61ad9fc5c0aafa396cd37f0d,diana,2021-11-20,0.00,neutral,diana
3,61ad9fc5c0aafa396cd37f0e,nanana,2021-11-20,0.00,neutral,nanana
4,61ad9fc5c0aafa396cd37f0f,panjang,2021-11-20,-0.05,neg,long

In [23]:
df.to_csv("tweets_bersih_translated_label_dated.csv")